@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* Background Colors */
    --Color-BG-Main: #0d1117;
    --Color-BG-Secondary: #1B998B;
    --Color-BG-Tertiary: #8367C7;
    --Color-BG-Quaternary: #A5CCD1;

    /* Text */
    --Color-Text-Main: #E6FAFC;
    --Color-Text-Muted: #cedcdd;
}

body {
    margin: 0;
    overflow-x: hidden;

    background-color: var(--Color-BG-Main);

    color: var(--Color-Text-Main);
    font-family: "Nunito" sans-serif;
}

a {
    color: var(--Color-Text-Muted);
}

/* Background */

#Background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-image: 
        radial-gradient(circle, var(--Color-BG-Secondary) 0%, transparent 60%), 
        radial-gradient(circle, var(--Color-BG-Tertiary) 0%, transparent 60%),
        radial-gradient(circle, var(--Color-BG-Quaternary) 0%, transparent 60%);
    
    /* set default pos if anim cannot play */
    background-position: 0% 0%,40% 40%, 80% 70%;
    background-size: 175%;
    background-repeat: no-repeat;

    animation: moveBG 15s ease-in-out infinite alternate;
}

@keyframes moveBG {
    0% {
        background-position: 0% 0%, 80% 70%, 40% 40%;
    }

    50% {
        background-position: 100% 20%, 20% 60%, 60%, 60%;
    }

    100% {
        background-position: 100% 80%, 20% 20%, 40% 40%;
    }
}

/* Header */

header {
    position: sticky;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    align-items: center;
    justify-items: center;
}

header::after {
    content: "";
    position: sticky;
    
    grid-column: span 3;
    width: 80%;
    height: 2px;

    background: linear-gradient(to right, transparent, var(--Color-Text-Muted), transparent);
}

nav:first-of-type {
    justify-self: right;
}
nav:last-of-type {
    justify-self: left;
}

nav > a {
    margin: 0 1em;
}